#card_number {
    position: relative;
    margin: 4em;
    border: 2px solid black;
    border-radius: 1em;
    height: 7em;
    width: 5em;
    display: inline-block;
}

.red {
    color: #8F060D;
}

.top_left {
    
    position: absolute;
    top: 0;
    left: 0;
}

.bottom_right {
   
    position: absolute;
    bottom: 0;
    right: 0;
}

#top_left, #bottom_right, #suit_top_left, #suit_bottom_right {
    position: absolute; 
    margin: 0;
}

#top_left {
    top: 0.1em;
    left: 0.2em;
    font-size: 1.5em;
    font-weight: bold;
}

#bottom_right {
    bottom: 0.1em;
    right: 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    transform: rotate(180deg);
}

#suit_top_left {
    height: 1em;
    width: 1em;
    top: 1.8em;
    left: 0.2em;
}

#suit_bottom_right {
    height: 1em;
    width: 1em;
    bottom: 1.8em;
    right: 0.2em;
    transform: rotate(180deg);
}