section#cards{
    /* display: flex;
    justify-content: space-around; */
}

div.card{
    position: absolute;
    width: 100px;
    height: 160px;
    border-radius:15px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.center{
    align-self: center;
}

.face{
    width: 9em;
    height: 14em;
}

.lower{
    align-self: flex-end;
    transform: rotateX(180deg) rotateY(180deg);
}

.icon{
    width: 1em;
    height: 1em;
    margin-top: -1em;
}

.small{
    display: flex;
    flex-direction: column;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 0em;
    font-weight: bold;
}

.red{
    color: #79090E;
}


.hidden .back{
    display: block;
    position: absolute;
    border: 1px solid black;
    width: 100px;
    height: 160px;
    border-radius:15px;
    display: flex;
    justify-content: space-around;
    background-image: url(faces-suits/card_back.jpg);
    }
    /* default display of .back = none
    i.e. display card face */
    .back {
    display: none;
    }
    